.section {
  margin-top: 40px;
}

.subtitle {
  margin-top: 8px;
  color: var(--white-60);
}

.stage {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  overflow: visible;
  border-radius: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  margin-right: -2.5rem;
}

.cardFront {
  margin-right: -2.5rem;
  z-index: 10;
}
