.nav {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  display: flex;
  gap: 4px;
  border-radius: 9999px;
  border: 1px solid var(--white-10);
  background: var(--black-70);
  padding: 6px;
  backdrop-filter: blur(8px);
}

.item {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: var(--white-50);
  transition: background-color 150ms, color 150ms;
  cursor: pointer;
}

.item:hover {
  background: var(--white-10);
  color: var(--color-white);
}
