.row {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--white-80);
}

.icon {
  width: 40px;
  height: 40px;
  flex: none;
}
