.wrapper {
  margin-top: 40px;
}

.avatarBox {
  position: relative;
  height: 60px;
  width: 60px;
}

.avatarInner {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.statusDot {
  position: absolute;
  bottom: -1px;
  right: -6px;
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  outline: 3px solid var(--background);
  background: var(--color-accent-online);
}

.nameRow {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.role {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--foreground-subdued);
}

.bio {
  display: none;
  margin-top: 24px;
  max-width: 608px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-wrap: balance;
  color: var(--foreground-subdued);
}

.bioShort {
  margin-top: 24px;
  max-width: 358px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--foreground-subdued);
}

@media (min-width: 640px) {
  .bio {
    display: block;
  }

  .bioShort {
    display: none;
  }
}

.company {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  color: var(--foreground);
}

.companyLogo {
  display: flex;
  height: 20px;
  width: 20px;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--color-white);
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  color: var(--foreground-subdued);
}

.flag {
  flex: none;
}
