.section {
  margin-top: 96px;
}

.row {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.card {
  display: flex;
  width: 380px;
  flex: none;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid var(--white-10);
  padding: 24px;
}

.cardFaded {
  opacity: 0.3;
}

.quote {
  font-size: 15px;
  line-height: 1.625;
  color: var(--white-80);
}

.author {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  height: 36px;
  width: 36px;
  flex: none;
  border-radius: 9999px;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.role {
  font-size: 12px;
  color: var(--white-50);
}
